<% provide(:title, 'About Us') %>
<h1>About Us</h1>
     <h4>
      Mentor Link is an app for Computer Science enthusiasts and beginner programmers who are seeking guidance about computer science related topics from trusted mentors (college students, teachers/professors and industry professionals in the field) as well as each other in a controlled, friendly online environment. The app will also serve as an opportunity for industry professionals, teachers and Computer Science students to “pay it forward” and volunteer their time and expertise to help others. In the future, we aim to customize this service to middle schoolers and highschoolers in hopes our service will help bridge the gap in comprehension between middle school and the college-level expectations of a computer science degree program.
     </h4>
    
