<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h3>
  Contact Jessica Lynch at jessica.lynch@colorado.edu, Noah Dillon at noah.dillon@colorado.edu or Andrew Gordon at andrew.gordon@colorado.edu.
</h3>
