<div class="center hero-unit">
  <h1>Welcome to Mentor Link!</h1>

  <% if user_signed_in? %>
  <h2>
    Currently signed in as <%=current_user.email%>!
  <% end %>

  <% if !user_signed_in? %>
  <h2>
    Connecting the Computer Science Enthusiast with a Trusted Mentor.
  </h2>

  <%= link_to "Sign up now!", '/users/sign_up', class: "btn btn-large btn-primary" %>
  <% end %>
</div>
