<div class="center hero-unit">
  <h1>Welcome to Mentor Link!</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Mentor Link</a>
    sample application, connecting the Computer Science enthusiast with
    a trusted mentor.
  </h2>

  <%= link_to "Sign up now!", '/users/sign_up', class: "btn btn-large btn-primary" %>
</div>
