<footer class="footer">
  <small>
    <a> Mentor Link</a>
    by Andrew Gordon, Jessica Lynch and Noah Dillon
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
